<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bedir's Kitchen</title>
    <link rel="stylesheet" href="styles/global.css" />
  </head>
  <body>
    <%- include("../partials/header") %>

    <h1 class="page-titel"><%= pageTitle %></h1>
    <main class="<%= className %>-container">
      <section class="main-content"></section>
      <section class="sidebar">
        <h3>Our Desserts</h3>
        <ul class="<%= className %>-list"></ul>
      </section>
    </main>
    <%- include("../partials/footer") %>
    <script type="module" src="js/desserts.js"></script>
  </body>
</html>
