<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bedir's Kitchen</title>
    <link rel="stylesheet" href="styles/global.css" />
  </head>
  <body>
    <%- include("../partials/header") %>

    <h1 class="subpages-title"><%= pageTitle %></h1>
    <main>
      <section class="go-back recipe">
        <button class="go-back" onclick="history.back()">Go Back</button>
      </section>
      <section class="recipes">
        <% dataList.map((item) => { %>
        <div>
          <h3><%= item.name %> Recipe</h3>
          <iframe
            src="<%= item.recipe %>"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
        <% }) %>
      </section>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
